{% extends "app_creditos/base.html" %}


{% block contenido %}

<div class="card shadow mb-4">
  <div class="card-body">
    <h5 class="font-weight-bold text-muted mb-3 text-center">Datos del cliente</h5>
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Nombre</h6>
        <h6>{{ object.cliente.nombre }}</h6>
      </div>
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">DNI</h6>
        <h6>{{ object.cliente.dni }}</h6>
      </div>
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Celular</h6>
        <h6>{{ object.cliente.celular }}</h6>
      </div>
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Email</h6>
        <h6>{{ object.cliente.email }}</h6>
      </div>
    </div>

    <hr>

    <h5 class="font-weight-bold text-muted mb-3 text-center">Datos Crédito</h5>
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">ID crédito</h6>
        <h6>{{ credito.id }}</h6>
      </div>
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Fecha otorgamiento</h6>
        <h6>{{ credito.fecha_otorgamiento }}</h6>
      </div>
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Monto</h6>
        <h6>$   {{ credito.importe_credito }}</h6>
      </div>      
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Cantidad cuotas</h6>
        <h6>{{ object.cuotas }}</h6>
      </div>    
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Tipo Crédito</h6>
        <h6>{{ credito.tipo_credito.nombre_credito }}</h6>
      </div>
      
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Total pagado</h6>
        <h6>$ {{ pago_credito }}</h6>
      </div>
      <div class="col-lg-auto col-4 text-center">
        <h6 class="text-primary">Deuda al día</h6>
        <h6>$ {{ deuda }}</h6>
      </div>
    </div>
  </div>  
</div>



<div>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <div style="flex-grow: 1; display: flex; justify-content: center;">
    <div class="dropdown mx-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Opciones
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="document.getElementById('actualizar-credito-form').submit();">Actualizar crédito</a>
            <form id="actualizar-credito-form" method="post" action="{% url 'actualizar_credito_individual' object.id %}" style="display: none;">
              {% csrf_token %}
              
            </form>
        <div class="dropdown-divider"></div>     
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirmDeleteModal">Eliminar crédito</a>
      </div>
    <button type="button" class="btn btn-success mx-3 ver-pagos-btn" data-cuota-id="{{ cuota.id }}">
      Pagos
    </button>      
    
  </div>
  
</div>
</div> 
<div class="modal fade" id="modalVerPagos" tabindex="-1" role="dialog" aria-labelledby="modalVerPagosLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 50%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerPagosLabel{{ cuota.id }}">Listado de Pagos</h5>
        
      </div>
      <div class="modal-body">
        <!-- Tabla para listar los pagos -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center">Cuota nro.</th>
              <th scope="col" class="text-center">Fecha Pago</th>
              <th scope="col" class="text-center">Monto Pagado</th>
              <th scope="col" class="text-center">Medio Pago</th>
              <th scope="col" class="text-center">Tipo Pago</th>
              <th scope="col" class="text-center">Borrar</th>
              
            </tr>
          </thead>
          <tbody>
            {% for cuota in cuotas %}
              {% for pago in cuota.pagos.all %}
                <tr>
                  <td class="text-center">{{ pago.cuota.numero_cuota }}</td>
                  <td class="text-center">{{ pago.fecha_pago|date:"d-m-Y" }}</td>
                  <td class="text-center">${{ pago.monto_pagado }}</td>
                  <td class="text-center">{{ pago.medio_pago }}</td>
                  <td class="text-center">{{ pago.tipo_pago }}</td>
                  <td class="text-center">
                    <form method="post" action="{% url 'borrar_pago' pago.id %}" onsubmit="return confirm('¿Está seguro que quiere eliminar este pago?');">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-danger bi bi-trash"></button>
                    </form>
                  </td>
                  <script>
                    function confirmDelete(pagoId) {
                       if (confirm("¿Está seguro que quiere eliminar este pago?")) {
                         var url = "{% url 'borrar_pago' '0' %}".replace('0', pagoId);
                         window.location.href = url;
                           return true;
                       }
                       return false;
                   }
                   
                   </script>
                                        
                </tr>
             
              {% endfor %}  
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Modal de eliminar credito -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        ¿Está seguro que quiere eliminar este crédito?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a href="{% url 'eliminar_credito' credito.id %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
</div>

  
<br>
        <div id="tablaCuotas" style="display: block;">
          <table class="table text-center">
            <thead>
              <tr class="table-dark">
                <th scope="col">Nro cuota</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Importe cuota</th>
                <th scope="col">Importe actualizado</th>
                <th scope="col">Total pagado</th>
                <th scope="col">Mora</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
                <th></th>          

              </tr>
            </thead>
            <tbody>
              {% for cuota in cuotas %}
                <tr>
                  <td>{{ cuota.numero_cuota }}</td>
                  <td>{{ cuota.fecha_vencimiento|date:'d-m-y' }}</td>
                  <td>${{ cuota.importe_cuota }}</td>
                  <td>${{ cuota.importe_actualizado }}</td>
                  <td>${{ cuota.total_pagado }}</td>
                  <td>${{ cuota.mora }}</td>
                  <td class="{% if cuota.estado == 'PENDIENTE' %}text-danger{% elif cuota.estado == 'PAGADA' %}text-success{% endif %}">
                    {{ cuota.estado }}
                  </td>
                  <td>          
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCobroCuota{{ cuota.id }}">
                      Cobro cuota
                    </button>
                  </td>
                                   
                </tr>  
                <!-- Modal cobro cuota -->
          <div class="modal fade" id="modalCobroCuota{{ cuota.id }}" tabindex="-1" role="dialog" aria-labelledby="modalCobroCuotaLabel{{ cuota.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCobroCuotaLabel{{ cuota.id }}">Cobro de Cuota</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Aquí iría tu formulario para cobrar la cuota -->
                  <form method="post" action="{% url 'registrar_pago' cuota.id %}">
                    {% csrf_token %}
                    <!-- Campos del formulario -->
                    <div class="form-group">
                      <label for="fecha_pago">Fecha pago</label>
                      <input type="date" step="0.01" class="form-control" name="fecha_pago" value="{{ fecha_hoy }}" required>
                    </div>
                    <label for="importe_cuota">Importe:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                      <input type="number" step="0.01" class="form-control" name="monto_pagado" required>
                    </div>
                    <div class="form-group">
                      <label for="medio_pago">Medio de Pago</label>
                      <select class="form-control" name="medio_pago">
                        <option value="Efectivo">Efectivo</option>
                        <option value="PagoFacil">PagoFácil</option>
                        <option value="Rapipago">Rapipago</option>
                        <option value="MP">MP</option>
                        <option value="Banco">Banco</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="tipo_pago">Tipo de Pago</label>
                      <select class="form-control" name="tipo_pago">
                        <option value="Total">Total</option>
                        <option value="Parcial">Parcial</option>
                        <option value="Pago Saldo">Pago Saldo</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-success">Confirmar Pago</button>
                  </form>
                </div>
              </div>
            </div>
          </div>                    
       
    {% endfor %}
    
        </tbody>
      </table>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    
    $('.ver-pagos-btn').on('click', function() {
      // Obtener el ID de la cuota desde el atributo data-cuota-id del botón
      var cuotaId = $(this).data('cuota-id');
            
      // Activar el modal utilizando JavaScript
      $('#modalVerPagos').modal('show');      
      
    });
  });
  </script>
 

{% endblock contenido %}
